<div class="container d-flex justify-content-center mt-5" >
    <table class="table table-bordered w-50 text-center" >
        <thead>
            <tr>
                <th>Item</th>
                <th>Item Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="inputRow">
                <td id="itemSelect">
                    <select name="items" [(ngModel)]="itemName" [(ngModel)]="selectItemName" (change)="itemSelectOnchange()">
                        <option [value]= 0  disabled selected>Select Item</option>
                        <option [value]="item" *ngFor="let item of items"> {{item}}</option>
                    </select>
                </td>
                <td id="quantSelect" >
                    <select name="itemQuant" id="itemQuant" [(ngModel)]="itemQuant" [(ngModel)]="selectItemQuantity" (change)="quantSelectOnChange()">
                        <option [value]= 0 disabled selected>Select Quantity</option>
                        <option *ngFor="let val of itemQuantity; index as i" value={{val}} id="itemVal"> {{val}}
                        </option>
                    </select>
                </td>
                <td id="addItemButton">
                    <button class="btn btn-primary btn-sm" (click)="onAdd()">Add</button>
                </td>
            </tr>
            <tr *ngFor="let data of mydata; index as i">
                <td>{{data.item}}</td>
                <td>{{data.quantity}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="removeItem(i)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container d-flex justify-content-center" >
<button id="onaddBtn" class="btn btn-primary" (click)="showOrder()">Show Order</button>
</div>